main {
  background-color: black;
  display: flex;
  flex-flow: column;
  height: 76.2vh;
  right: -10;
  left: 0;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: #04AD04;
}