@import url("https://use.typekit.net/yns4wlf.css");
.animated {
  color: #04AD04;
  font-family: itc-american-typewriter, serif;
  font-weight: 400;
  font-size: 35px;
  margin: 50px 200px 50px 200px;
}