@import url("https://use.typekit.net/yns4wlf.css");
.navButton {
  background: transparent;
  border: none;
  display: inline;
  text-decoration: none;
  padding-right: 20px;
  font-size: 40px;
  font-family: itc-american-typewriter-cond, serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
}
.navLink {
  text-decoration: none;
}
.navItem {
  text-decoration: none;
}