@import url("https://use.typekit.net/yns4wlf.css");
.formRead{
  display: flex;
  flex-flow: column;
}
.selectRead {
background-color: black;
border: 1px solid #04AD04;
width: 200px;
margin: 0 0 25 25;
font-size: 18px;
font-weight: 500;
font-family: itc-american-typewriter, serif;
color: #04AD04;
}
.selectCont {
  margin: 50px 0 50px 20vw;
}
.textCont {
  color: #04AD04;
  border: 1px solid #04AD04;
  font-family: itc-american-typewriter, serif;
  display: flex;
  flex-flow: column;
  margin: 10vh 20vw 10vh;
}
.topDivRead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.writerNameRead, .textTitleRead {
  margin-left: 3vw;
}
.editButtonOnRead, .deleteButtonOnRead, .typeButtonOnRead {
  background-color: #04AD04;
  color: black;
  font-family: itc-american-typewriter, serif;
  font-weight: 400;
  font-size: 20px;
  height: 35px;
  width: 75px;
  margin: 5px 3vw 5px 3vw;
}
.contentOnRead {
  padding: 25px;
  background-color:  black;
  color: #04AD04;
  font-size: 20px;
  height: 50vh;
  align-items: center;
  align-content: center;
  resize: none;
  overflow-y: scroll;
}
.buttonCont {
display: flex;
flex-flow: column;
align-self: flex-end;
justify-content: space-around;
}